*{
    margin: 0;
}

.geist {
  font-family: "Geist", sans-serif;
}

.divider {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.divider::before, .divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: #E4E4E7;
  margin: 5px;
}



.div{
    padding: 200px;
}

.card{
border-top:5px solid green;
padding: 16px;

}
